
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 500px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$darkgrey: #E6E6E6;
$lightgrey: #D9D9D9;
$pink: #FF8282;
$darkpink: #D24899;
$closet-background: #34495E;

.page{
  height: 100%;
  background-color: #EDF6FF;
  align-items: center;
  overflow-x: hidden;
  @media (min-width: $tablet-width){
    width: 768px;

  }
  @media (min-width: $desktop-width){
    width: 1440px;
  }
}

body{
  font-family: "Oswald", "Arial", sans-serif;
  margin:0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 300px;
  margin: auto;
  @media (min-width: $tablet-width){
    width: 768px;

  }
  @media (min-width: $desktop-width){
    width: 1440px;
  }
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip:rect(0 0 0 0);
  overflow: hidden;
}

.page-main{
  width: 100%;
}

.racks-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:  calc(100% / 3 * 2);
  margin: auto;
  margin-top: 28px;

  @media (min-width: $tablet-width){
    width: 400px;

  }
  @media (min-width: $desktop-width){
    width: 795px;
  }
}

.top-area,
.middle-area,
.bottom-area{
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: space-around;
  background-color: $closet-background;
  position: relative;
}

.top-area{
  @media (min-width: $tablet-width){
    height: 230px;

  }
  @media (min-width: $desktop-width){
    height: 450px;
  }
}

.flags{
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 1;

  @media (min-width: $tablet-width){
    top: -4px;
    left: -6px;
  }
  @media (min-width: $desktop-width){
    margin-top: -5px;
    left: -14px;
  }
}

.flags-shadow{
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;

  @media (min-width: $tablet-width){
    height: 400px;
    top: -70px;
  }
  @media (min-width: $desktop-width){
    margin-top: 30px;
  }
}

.top-of-rack{
  margin-top: -1px;
}

.middle-area,
.bottom-area{
  height: 53px;
  margin-top: -1px;

  @media (min-width: $tablet-width){
    height: 100px;

  }
  @media (min-width: $desktop-width){
    height: 200px;
    margin-top: -1px;
  }
}

.top-rack-background,
.middle-rack-background{
  width: 211.5px;
  height: 7.85px;
  background-color: #F1C40F;
  background-size: cover;
  z-index: 1;

  @media (min-width: $tablet-width){
    height: 17px;
    width: 423px;
  }
  @media (min-width: $desktop-width){
    width: 840px;
    height: 32px;
    margin-top: 11px;
  }
}

.middle-rack-background{
  margin-top: 2px;

  @media (min-width: $tablet-width){
    margin-top: 0;

  }
  @media (min-width: $desktop-width){
    margin-top: 0;
  }
}

.top-rack-background{
  margin-top: 2px;

  @media (min-width: $tablet-width){
    margin-top: 0px;

  }
  @media (min-width: $desktop-width){
    margin-top: 10px;
  }
}

.top-of-rack-background{
  margin-top: -4px;
  margin-left: 1px;
  height: 11px;

  @media (min-width: $tablet-width){
    height: 22px;
  }
  @media (min-width: $desktop-width){
    width: 846px;
    height: 32px;
    margin-top: -5px;
  }
}

.top-of-bottom-rack{
  margin-top: -1px;
  @media (min-width: $tablet-width){

  }
  @media (min-width: $desktop-width){
    margin-top: -4px;
  }
}

.bottom-rack{
  background-color: #BDC3C7;
  width: 211.37px;
  height: 20.23px;
  margin-top: -6px;
  @media (min-width: $tablet-width){
    width: 423px;
    height: 41px;

  }
  @media (min-width: $desktop-width){
    width: 846px;
    height: 81px;
    margin-top: -4px;
  }
}

.item{
  z-index: 3;
  position: absolute;
}

.foundation{
  width: 201.03px;
  height: 91.04px;
  background-color: #E67E22;
  @media (min-width: $tablet-width){
    width: 403px;
    height: 170px;

  }
  @media (min-width: $desktop-width){
    width: 805px;
    height: 350px;
    left: 0;
  }
}

.top-of-foundation{
  background-color: #D35400;
  height: 20.04px;
  width: 100%;
  position: relative;
  @media (min-width: $tablet-width){
    width: 403px;
    height: 42px;

  }
  @media (min-width: $desktop-width){
    width: 805px;
    height: 82px;
    left: 0;
  }
}

.rack-shadow{
  height: 25.04px;
  background-color: #1D2A36;
  width: 100%;
  @media (min-width: $tablet-width){
    height: 50px;
  }
  @media (min-width: $desktop-width){
    height: 100px;
  }
}

.wine{
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 3;
  @media (min-width: $tablet-width){
    top: -5px;
  }
  @media (min-width: $desktop-width){
    top: -20px;
    left: 60px;
  }
}

.milk{
  left: 57px;
  top: 22px;

  @media (min-width: $tablet-width){
    top: 63px;
    left: 110px;
  }
  @media (min-width: $desktop-width){
    top: 110px;
    left: 230px;
  }
}

.jar{
  left: 97px;
  top: 72px;
  @media (min-width: $tablet-width){
    top: 160px;
    left: 195px;
  }
  @media (min-width: $desktop-width){
    top: 310px;
    left: 390px;
  }
}

.cheese{
  left: 152px;
  top: 80px;

  @media (min-width: $tablet-width){
    top: 175px;
    left: 300px;
  }
  @media (min-width: $desktop-width){
    top: 350px;
    left: 590px;
  }
}

.meet{
  left: 0px;
  top: 15px;

  @media (min-width: $tablet-width){
    top: 15px;
    left: 5px;
  }
  @media (min-width: $desktop-width){
    top: 20px;
  }
}

.chicken{
  left: 55px;
  top: 23px;

  @media (min-width: $tablet-width){
    left: 110px;
    top: 21px;
  }
  @media (min-width: $desktop-width){
    top: 40px;
    left: 200px;
  }
}

.chips{
  left: 123px;
  top: 21px;

  @media (min-width: $tablet-width){
    top: 35px;
    left: 253px;
  }
  @media (min-width: $desktop-width){
    top: 70px;
    left: 500px;
  }
}

.pineapple{
  left: 7px;
  top: -10px;

  @media (min-width: $tablet-width){
    left: 10px;
    top: -25px;
  }
  @media (min-width: $desktop-width){
    left: 20px;
    top: 0;
  }
}

.bananas{
  left: 52px;
  top: 18px;

  @media (min-width: $tablet-width){
    top: 26px;
    left: 100px;
  }
  @media (min-width: $desktop-width){
    left: 200px;
    top: 70px;
  }
}

.apple{
  left: 109px;
  top: 29px;

  @media (min-width: $tablet-width){
    left: 225px;
    top: 50px;
  }
  @media (min-width: $desktop-width){
    left: 450px;
    top: 110px;
  }
}

.salad{
  left: 150px;
  top: 20px;
  @media (min-width: $tablet-width){
    top: 35px;
    left: 300px;
  }
  @media (min-width: $desktop-width){
    left: 650px;
    top: 120px;
  }
}

.cart{
  position: absolute;
  display: flex;
  top: 380px;
  width: 278px;
  height: 240px;
  z-index: 1;

  @media (min-width: $tablet-width){
    width: 553px;
    height: 458px;
    top: 730px;
  }
  @media (min-width: $desktop-width){
    width: 1105px;
    height: 914px;
    top: 1410px;
    left: 150px;
  }
}

.cart-image{
  position: absolute;
  z-index: 2;
}

.cart-box{
  position: absolute;
  width: 150px;
  height: 50px;
  top: 190px;
  left: 70px;

  @media (min-width: $tablet-width){
    width: 350px;
    height: 50px;
    left: 150px;
    top: 350px;
  }
  @media (min-width: $desktop-width){
    width: 600px;
    height: 100px;
    top: 750px;
    left: 310px;
  }
}

.hidden-button{
  display: none;
}

.buy-button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  color: #21201F;
  width: 174px;
  height: 56px;
  background-color: #FCE000;
  border-radius: 16px;
  margin-top: -170px;
  z-index: 3;
  top: -20px;
  font-size: 16px;

  @media (min-width: $tablet-width){
    width: 300px;
    height: 100px;
    font-size: 24px;
  }
  @media (min-width: $desktop-width){
    width: 650px;
    height: 150px;
    font-size: 52px;
    top: -90px
  }
}

