
$tablet-width: 601px;
$desktop-width: 1440px;
$mobile-width-only: 500px;

$darkgreen: #5EAA2F;
$lightgreen: #68B738;
$grey: #F2F2F2;
$darkgrey: #E6E6E6;
$lightgrey: #D9D9D9;
$pink: #FF8282;
$darkpink: #D24899;
$closet-background: #34495E;

.page{
  height: 100%;
  background-color: #EDF6FF;
  align-items: center;
  overflow-x: hidden;
  @media (min-width: $tablet-width){
    //width: 768px;

  }
  @media (min-width: $desktop-width){
    //width: 1440px;
  }
}

body{
  font-family: "Oswald", "Arial", sans-serif;
  margin:0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 300px;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip:rect(0 0 0 0);
  overflow: hidden;
}

.page-main{
  width: 100%;
}

.racks-wrapper{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.top-rack,
.middle-rack,
.bottom-rack{
  display: flex;
  justify-content: space-around;
  background-color: $closet-background;
}

.top-rack-background,
.middle-rack-background{
  //position: absolute;
  width: 211.37px;
  height: 7.85px;
  background-image: url('../../img/src/Rack.svg');
  background-size: cover;
  z-index: 1;
}

.item{
  z-index: 1;
}
